n8n/goodai-mate-outbound-voice.json
{"name":"goodai-mate \u2014 Outbound Voice (site -> n8n -> Trillet, agent-by-name)","nodes":[{"parameters":{"httpMethod":"POST","path":"lead-callback","responseMode":"responseNode","options":{}},"id":"n-wh-lead","name":"Lead Intake (Webhook)","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[220,320],"webhookId":"lead-callback"},{"parameters":{"jsCode":"// Site contract: { event, agent, phone, timestamp } nested under $json.body\nconst body = ($input.first().json.body) || $input.first().json || {};\nlet raw = (body.phone || '').toString().trim();\nlet digits = raw.replace(/[^\\d+]/g, '');\nlet to = '';\nif (digits.startsWith('+')) to = digits;\nelse if (digits.startsWith('0')) to = '+61' + digits.slice(1);\nelse if (digits.startsWith('61')) to = '+' + digits;\nelse if (digits.length >= 8) to = '+' + digits;\nconst valid = /^\\+\\d{8,15}$/.test(to);\nreturn [{ json: {\n  valid, to,\n  agentName: (body.agent || 'darl').toString().trim(),\n  event: body.event || 'voice_callback_requested',\n  timestamp: body.timestamp || new Date().toISOString(),\n  raw_phone: raw,\n  source: 'goodai-mate-site'\n}}];\n"},"id":"n-normalize","name":"Normalize Phone","type":"n8n-nodes-base.code","typeVersion":2,"position":[430,320]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose"},"conditions":[{"id":"c1","leftValue":"={{ $json.valid }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"id":"n-if-valid","name":"Valid Phone?","type":"n8n-nodes-base.if","typeVersion":2,"position":[640,320]},{"parameters":{"method":"GET","url":"https://api.trillet.ai/v1/api/agents","sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-api-key","value":"={{ $env.TRILLET_API_KEY }}"},{"name":"x-workspace-id","value":"={{ $env.TRILLET_WORKSPACE_ID }}"},{"name":"Content-Type","value":"application/json"}]},"options":{}},"id":"n-list-agents","name":"Trillet: List Agents","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[860,220]},{"parameters":{"jsCode":"// Trillet GET /agents returns an array -> n8n splits to one item per agent\nconst agents = $input.all().map(i => i.json).filter(a => a && a._id);\nconst want = ($('Normalize Phone').first().json.agentName || '').toLowerCase();\n\nlet match = agents.find(a => (a.name || '').toLowerCase() === want)\n         || agents.find(a => (a.name || '').toLowerCase().includes(want));\n\nif (!match) {\n  const names = agents.map(a => a.name).join(', ') || '(none returned)';\n  throw new Error('No Trillet agent matching \"' + want + '\". Available: ' + names);\n}\n\nconst n = $('Normalize Phone').first().json;\nreturn [{ json: {\n  call_agent_id: match._id,\n  agent_name: match.name,\n  to: n.to,\n  agentName: n.agentName,\n  event: n.event,\n  timestamp: n.timestamp,\n  raw_phone: n.raw_phone,\n  source: n.source\n}}];\n"},"id":"n-resolve","name":"Resolve Agent ID","type":"n8n-nodes-base.code","typeVersion":2,"position":[1070,220]},{"parameters":{"method":"POST","url":"https://api.trillet.ai/v1/api/call","sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-api-key","value":"={{ $env.TRILLET_API_KEY }}"},{"name":"x-workspace-id","value":"={{ $env.TRILLET_WORKSPACE_ID }}"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ to: $json.to, call_agent_id: $json.call_agent_id, callback_url: $env.N8N_CALL_STATUS_URL, dynamic_variables: { agentName: $json.agentName }, metadata: { source: $json.source, event: $json.event, requested_at: $json.timestamp, agent_name: $json.agent_name, raw_phone: $json.raw_phone } }) }}","options":{}},"id":"n-call","name":"Trillet: Initiate Call","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1280,220]},{"parameters":{"respondWith":"json","responseBody":"={{ JSON.stringify({ ok: true, success: true, agent: $json.agent_name, callId: $json.callId, jobId: $json.jobId }) }}","options":{"responseCode":200}},"id":"n-resp-ok","name":"Respond: Calling Now","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[1500,220]},{"parameters":{"respondWith":"json","responseBody":"={{ JSON.stringify({ ok: false, success: false, error: 'Invalid or missing phone number', received: $json.raw_phone }) }}","options":{"responseCode":400}},"id":"n-resp-bad","name":"Respond: Invalid","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[860,440]},{"parameters":{"httpMethod":"POST","path":"call-status","options":{}},"id":"n-wh-status","name":"Call Status (Webhook)","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[220,640],"webhookId":"call-status"},{"parameters":{"assignments":{"assignments":[{"id":"s1","name":"event","value":"={{ $json.body.event }}","type":"string"},{"id":"s2","name":"callId","value":"={{ $json.body.data.callId }}","type":"string"},{"id":"s3","name":"status","value":"={{ $json.body.data.status }}","type":"string"},{"id":"s4","name":"duration","value":"={{ $json.body.data.duration }}","type":"number"}]},"options":{}},"id":"n-capture","name":"Capture Call Status","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[430,640]}],"connections":{"Lead Intake (Webhook)":{"main":[[{"node":"Normalize Phone","type":"main","index":0}]]},"Normalize Phone":{"main":[[{"node":"Valid Phone?","type":"main","index":0}]]},"Valid Phone?":{"main":[[{"node":"Trillet: List Agents","type":"main","index":0}],[{"node":"Respond: Invalid","type":"main","index":0}]]},"Trillet: List Agents":{"main":[[{"node":"Resolve Agent ID","type":"main","index":0}]]},"Resolve Agent ID":{"main":[[{"node":"Trillet: Initiate Call","type":"main","index":0}]]},"Trillet: Initiate Call":{"main":[[{"node":"Respond: Calling Now","type":"main","index":0}]]},"Call Status (Webhook)":{"main":[[{"node":"Capture Call Status","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"active":false}